body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Bebas Neue";
    
}

.jumbotron h1 {
    color:#b6b5bb;
}


h3 {
    color: #494444;
}

header h2 {
    color: #000000;
}

.site-footer {
    background-image: linear-gradient(#9e1d21,#c38c6c);
    color: #000000;
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(#9e1d21,#9e1d21,#c38c6c);
    text-align:center;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
     background-image: linear-gradient(to right, #9e1d21, #9e1d21,#c38c6c);
     color:#c38c6c;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #000000;
}

a:link {
    color:#000000;
}

a:visited {
    color: #000000;
 
  }

.bootstrap {
    color: #000000;
}

